{% extends "web/base.html" %} {% load static %} {% block body %}

<div style="padding: 25px" class="module_wrap">
  <h1>Stockk Analyzer</h1>
  <link rel="stylesheet" href="{% static 'css/stock.css' %}" />
  <div style="padding: 5px 4% 0px" class="app-main-layout-wrapper">
    <div class="app-main-layout-content">
      <div style="text-align: center" class="section">
        <div style="text-align: center" class="card">
          <form
            style="text-align: center"
            method="POST"
            id="email-form"
            name="email-form"
            data-name="Email Form"
          >
            <h5>
              Search a ticker(AAPL,TSLA,SPY) for the latest stock analysis.
            </h5>
            {% csrf_token %}
            <!-- <label for="name" class="label">Stock Ticker</label> -->
            <input
              type="text"
              style="text-align: center"
              class="input w-input"
              maxlength="4"
              name="ticker"
              data-name="Name"
              placeholder="AAPL"
              id="name"
            />
            <input
              class="button button-primary w-button"
              type="submit"
              value="Analyze"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% if data %}
<div style="padding: 5px 4% 0px" class="app-main-layout-wrapper">
  <div class="app-main-layout-content">{% include 'web/price1.html' %}</div>
</div>

<div style="padding: 10px" class="app-main-layout-wrapper">
  <div class="app-main-layout-content">{% include 'web/price2.html' %}</div>
</div>

<div
  style="padding: 10px; margin-left: auto; margin-right: auto"
  class="app-main-layout-wrapper"
>
  <div class="app-main-layout-content">{% include 'web/price3.html' %}</div>
</div>

<div style="padding: 10px" class="app-main-layout-wrapper">
  <div class="app-main-layout-content">{% include 'web/price4.html' %}</div>
</div>

<div style="padding: 10px" class="app-main-layout-wrapper">
  <div class="app-main-layout-content">{% include 'web/price5.html' %}</div>
</div>

{% endif %} {% endblock %}
