{% extends "web/base.html" %} {% load static %} {% block body %}

<div style="padding: 25px" class="module_wrap">
  <h1>Twitter Scrape</h1>
  <link rel="stylesheet" href="{% static 'css/stock.css' %}" />
  <div style="padding: 5px 4% 0px" class="app-main-layout-wrapper">
    <div class="app-main-layout-content">
      <div style="text-align: center" class="section">
        <div style="text-align: center" class="card">
          <form
            style="text-align: center"
            method="POST"
            id="email-form"
            name="email-form"
            data-name="Email Form"
          >
            <h5>Search a query for the Twitter Scrape</h5>
            {% csrf_token %}
            <!-- <label for="name" class="label">Stock </label> -->
            <input
              type="text"
              style="text-align: center"
              class="input w-input"
              name="query"
              data-name="Name"
              placeholder="Search Query"
              id="name"
            />
            <input
              class="form-check-input"
              type="checkbox"
              name="excludedMail"
            />
            <label class="form-check-label" for="flexCheckChecked">
              Exclude Results without emails?
            </label>

            <input
              class="button button-primary w-button"
              type="submit"
              value="Analyze"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mobileTablePadding" style="background: #eee">
  <!-- <h1>Lastest Price: {{price}}</h1> -->
  <div style="text-align: center" class="chart-tab-content w-tab-content">
    <div class="align-items-center" id="table">
      <div class="fe03">
        <div class="row table-row flex-center w-row option-row">
          <div class="col table-col w-col w-col-3 w-col-small-3 w-col-tiny-3">
            <p class="headline">ID</p>
          </div>
          <div class="col table-col w-col w-col-3 w-col-small-3 w-col-tiny-3">
            <p class="headline">Username</p>
          </div>
          <div class="col table-col w-col w-col-3 w-col-small-3 w-col-tiny-3">
            <p class="headline">Url</p>
          </div>
          <div class="col table-col w-col w-col-3 w-col-small-3 w-col-tiny-3">
            <p class="headline">Email</p>
          </div>
        </div>

        <!-- Scraped result -->
        {% for job in job_list %}
        <div class="row table-row flex-center w-row option-row">
          <div class="col table-col w-col w-col-3 w-col-small-3 w-col-tiny-3">
            <p class="text-nowrap">{{ job.twitterId }}</p>
          </div>
          <div class="col table-col w-col w-col-3 w-col-small-3 w-col-tiny-3">
            <p class="text-nowrap">{{ job.username }}</p>
          </div>
          <div class="col table-col w-col w-col-3 w-col-small-3 w-col-tiny-3">
            <p class="text-nowrap">{{job.url}}</p>
          </div>
          <div class="w-col w-col-3 w-col-small-3 w-col-tiny-3">
            <p class="text-nowrap">{{job.email}}</p>
          </div>
        </div>

        {% endblock %}
      </div>
    </div>
  </div>
</div>
